*.iml
.idea

.DS_Store

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

### Django ###
*.log
*.pot
local_settings.py
.env
db.sqlite3

web/server/static
web/server/draw/static

### Model Training Data ###
model/data

